<div class="browser">
    <div class="browser-options">
        <div class="option" >
     
            <span class="option-text active-parent">
                <img src="../../../assets/img/search-icon.png" >  Home                                 
            </span>
        </div>

        <div class="option">
       
            <span class="option-text">
                <img src="../../../assets/img/search-icon.png" > Creditos
            </span>

            <span class="option-sub">
                <span class="option-text menu-load"  routerLink="mregistro/registro" routerLinkActive="active-child"  data-path="credit-list">   
                    Listado 
                </span>
                <span class="option-text menu-load" data-path="credit-add">   
                    Registro 
                </span>
            </span>
        </div>
        <div class="option" >
       
            <span class="option-text active-parent">
                <img src="../../../assets/img/search-icon.png">   Clientes
            </span>

            <span class="option-sub">
                <span class="option-text menu-load" data-path="customer-list">     
                    Listado 
                </span>

                <span class="option-text menu-load" data-path="customer-add">
                    Registro  
                </span>
            </span>
        </div>
    </div>
</div>
